@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Geo:ital@0;1&display=swap');

:root {
    --highlight: #FFFFFF;
    --icon: #64FF64;
    --bar: #0A1621;
    --dark: #132534;
    --light: #172C3E;
    --dot-size: .5rem;
    --hover: #FFEEE2;
    --background: linear-gradient(transparent 50%, var(--dark) 50%), linear-gradient(90deg, var(--dark) 50%, var(--light) 50%);
}

body {
    background-image: var(--background);
    background-size: var(--dot-size) var(--dot-size);
    font-family: "Geo", sans-serif;
}

li {
    color: var(--highlight);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Audiowide", sans-serif
}
.note{

}

h1, h2, p, img {
    color: var(--highlight);
}
th,td {
color: var(--highlight);
border-bottom: 1px solid;
border-side: 1px solid;
padding: 3px;
}

a {
    color: var(--icon);
    text-decoration: none;
}
a:hover {
    color: var(--hover);
}
.text_box {
    border: solid 1px var(--highlight);
    width:fit-content;
    padding: 18px;
    background-color: var(--bar);
    border-radius: 28px;
    corner-shape: bevel;
}
.title_box {
    border: solid 1px var(--highlight);
    padding: 3px;
    background-color: var(--bar);
    text-align: center;
    display: flex;
    align-items: center;
    gap: 25px;

}
table {
    border: solid 1px var(--highlight);padding: 3px;background-color: var(--bar);
}
.menu-btn {
    padding: 10px 15px;
    color: white;
    border: none;
    cursor: pointer;
    margin: 1px;

}

#vertical-menu {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--bar);
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.5s;
    border-right: solid 0.5px var(--highlight);
}

#vertical-menu a {
    padding: 10px 5px 5px 10px;
    text-decoration: none;
    font-size: 17px;
    color: var(--icon);
    display: block; /* Make the links appear as blocks */
    transition: 0.3s;
}

#vertical-menu a:hover {
    color: var(--hover);
}

/* Class to hide the menu initially and toggle its visibility */
.menu-hidden {
    width: 0 !important; /* Hides the menu */
}

#main-content {
    transition: margin-left .5s; /* Smooth transition for the content push */
    padding: 0px;
    margin-left: 0; /* Initial margin */
}
.hover-image1, .hover-image2, .hover-image3 {
  opacity: 0; /* Initially hidden */
  position: relative;
  top: 0.25;
  left: 0.5;
}
.image-wrapper:hover .hover-image1 {
  opacity: 1; /* Becomes visible on hover */
  top: 1;
  left: 0.5;
}

.image-wrapper:hover .hover-image2 {
transition-delay: 1s;
  opacity: 1; /* Becomes visible on hover */
  top: 1;
  left: 0.5;
}

.image-wrapper:hover .hover-image3 {
transition-delay: 2s;
  opacity: 1; /* Becomes visible on hover */
  top: 1;
  left: 0.5;
}

.image-wrapper:hover .default-image {
  opacity: 0; /* Default image hides on hover */
}
.default-image {
    position: absolute;
    x-index: 1;
}
.image-wrapper{

}
.image-wrapper img {
  position: center;
  align-items: center;
}